.topContainer {		
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
}

.unitSelectContainer {
	flex: 3;
	display: flex;
	flex-direction: column;			
	padding: 5px;
}

.unitCostContainer {
	flex: 1;
	display: flex;
	flex-direction: row;	
	padding: 5px;
}

.unitUpgradeContainer {
	flex: 20;
	display: flex;
	padding: 5px;
}

.buttonContainer {
	flex: 4;
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.selectUnit {
	flex: 1;	
	margin: 5px;
}

.paper {
	margin: auto;		
}

.costText {
	flex: 1;
	font-size: 150%;
	text-align: center;	
	margin: 5px;
}

.selectUpgrade {
	flex: 2;	 
	margin: 10px;
}	

.removeButton {	
	margin: auto;
	padding: 5px;
}

.copyButton {
	margin: auto;
	padding: 5px;
}