.topContainer {		
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0,
}

.unitSelectContainer {
	flex: 3;
	display: flex;
	flex-direction: column;			
	margin: 0;
	padding: 0;
}

.unitCostContainer {
	flex: 1;
	display: flex;
	flex-direction: column;		
}

.unitUpgradeContainer {
	flex: 20;
	display: flex;
	padding: 10;
}

.buttonContainer {
	flex: 4;
	display: flex;
	flex-direction: row;
	padding: 10;
}

.selectUnit {
	flex: 1;	
	margin: 12;
}

.paper {
	margin: auto;		
}

.costText {
	text-align: center;
	margin: auto;
}

.selectUpgrade {
	flex: 2;	 
	margin: 12;
}	

.removeButton {	
	margin: auto;
}

.copyButton {
	margin: auto;
}